.idea
target
*/target
e2e-tests/node_modules
e2e-tests/customer-process/node_modules
data-plane/*.pem
.cargo
e2e-tests/testing-certs/*
e2e-tests/mtls-testing-certs/ca/*
!e2e-tests/mtls-testing-certs/ca/*.sh
e2e-tests/mock-crypto/Cargo.lock
e2e-tests/health-check-response.txt
ci/**/node_modules
.vscode
logs.txt
certs/
installer/output