version: "3.9"
networks:
  mynetwork:
    ipam:
      config:
        - subnet: 172.20.0.0/24
services:
  statsd:
    image: statsd/statsd
    restart: always
    ports:
      - 8125:8125/udp
      - 8126:8126
    networks:
      mynetwork:
        ipv4_address: 172.20.0.6  
    platform: linux/amd64    
  enclave:
    build:
      dockerfile: enclave.Dockerfile
    dns: 127.0.0.1
    cap_add:
      - NET_ADMIN
    privileged: true      
    ports:
      - "7777:7777"
      - "7779:7779"
    depends_on:
      - statsd
      - control-plane
    networks:
      mynetwork:
        ipv4_address: 172.20.0.7       
    environment:
      - EV_API_KEY_AUTH=${EV_API_KEY_AUTH:?No api key auth set, failing fast}
      - CUSTOMER_PROCESS=${CUSTOMER_PROCESS}
      - AWS_REGION=us-east-1
      - TEST_EGRESS_IP=${TEST_EGRESS_IP}
  control-plane:
    build:
      dockerfile: control-plane.Dockerfile
    ports:
      - "443:3031"
      - "3032:3032"
    depends_on:
      - statsd
    networks:
      mynetwork:
        ipv4_address: 172.20.0.8    
    environment:
      - MOCK_CRYPTO_CERT=${MOCK_CRYPTO_CERT}
      - MOCK_CRYPTO_KEY=${MOCK_CRYPTO_KEY}
      - MOCK_CERT_PROVISIONER_CLIENT_CERT=${MOCK_CERT_PROVISIONER_CLIENT_CERT}
      - MOCK_CERT_PROVISIONER_CLIENT_KEY=${MOCK_CERT_PROVISIONER_CLIENT_KEY}
      - MOCK_CERT_PROVISIONER_ROOT_CERT=${MOCK_CERT_PROVISIONER_ROOT_CERT}
      - MOCK_CERT_PROVISIONER_SERVER_KEY=${MOCK_CERT_PROVISIONER_SERVER_KEY}
      - MOCK_CERT_PROVISIONER_SERVER_CERT=${MOCK_CERT_PROVISIONER_SERVER_CERT}
      - ACME_ACCOUNT_EC_KEY=${ACME_ACCOUNT_EC_KEY}
      - ACME_ACCOUNT_HMAC_KEY=${ACME_ACCOUNT_HMAC_KEY}
      - ACME_ACCOUNT_HMAC_KEY_ID=${ACME_ACCOUNT_HMAC_KEY_ID}
      - DEREGISTRATION_TOPIC_ARN=testarn
      - EV_API_KEY_AUTH=${EV_API_KEY_AUTH:?No api key auth set, failing fast}
      - CUSTOMER_PROCESS=${CUSTOMER_PROCESS}   
      - AWS_REGION=us-east-1    
      - EV_APP_UUID=app_f5f084041a7e
      - EV_API_KEY=