name: Deploy installer to staging

on:
  push:
    paths:
      - "installer/**"
    branches:
      - "main"
permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    uses: ./.github/workflows/deploy-runtime-installer.yml
    with:
      stage: "staging"
      version: 1
    secrets:
      AWS_ENCLAVES_OIDC_ROLE_ARN: ${{ secrets.AWS_ENCLAVES_STAGING_OIDC_ROLE_ARN }}
      AWS_CLOUDFRONT_DISTRIBUTION_ID: ${{ secrets.AWS_CLOUDFRONT_DISTRIBUTION_STAGING }}
