name: Release data-plane binary staging

on:
  push:
    paths:
      - .github/workflows/deploy-data-plane-binary-staging.yml
      - data-plane/**
      - shared/**
    branches:
      - main

env:
  RUST_BACKTRACE: 1
  LINUX_TARGET: x86_64-unknown-linux-musl
  STAGE: staging

jobs:
  deploy-data-plane-binary:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Configure Staging AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID_STAGING }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY_STAGING }}
          aws-region: us-east-1

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "standard-cache"

      # Egress Enabled, TLS Termination Disabled
      - name: Build data-plane (egress enabled, tls termination disabled)
        uses: evervault/cargo-static-build@master
        with:
          cmd: cargo build -p data-plane --no-default-features --features enclave,network_egress --release --target ${{ env.LINUX_TARGET }}

      - name: Upload data-plane to S3 (egress enabled, tls termination disabled)
        env:
          VERSION_TAG: ${{ github.sha }}
          FEATURE_LABEL: egress-enabled/tls-termination-disabled
        run: |
          aws s3 cp ./target/${{ env.LINUX_TARGET }}/release/data-plane s3://cage-build-assets-${{ env.STAGE }}/runtime/${{ env.VERSION_TAG }}/data-plane/${{ env.FEATURE_LABEL }}
          aws s3 cp ./target/${{ env.LINUX_TARGET }}/release/data-plane s3://cage-build-assets-${{ env.STAGE }}/runtime/latest/data-plane/${{ env.FEATURE_LABEL }}

      # Egress Enabled, TLS Termination Enabled
      - name: Build data-plane (egress enabled, tls termination enabled)
        uses: evervault/cargo-static-build@master
        with:
          cmd: cargo build -p data-plane --features enclave,network_egress --release --target ${{ env.LINUX_TARGET }}

      - name: Upload data-plane to S3 (egress enabled, tls termination enabled)
        env:
          VERSION_TAG: ${{ github.sha }}
          FEATURE_LABEL: egress-enabled/tls-termination-enabled
        run: |
          aws s3 cp ./target/${{ env.LINUX_TARGET }}/release/data-plane s3://cage-build-assets-${{ env.STAGE }}/runtime/${{ env.VERSION_TAG }}/data-plane/${{ env.FEATURE_LABEL }}
          aws s3 cp ./target/${{ env.LINUX_TARGET }}/release/data-plane s3://cage-build-assets-${{ env.STAGE }}/runtime/latest/data-plane/${{ env.FEATURE_LABEL }}

      # Egress Disabled, TLS Termination Disabled
      - name: Build data-plane (egress disabled, tls termination disabled)
        uses: evervault/cargo-static-build@master
        with:
          cmd: cargo build -p data-plane --no-default-features --features enclave --release --target ${{ env.LINUX_TARGET }}

      - name: Upload data-plane to S3 (egress disabled, tls termination disabled)
        env:
          VERSION_TAG: ${{ github.sha }}
          FEATURE_LABEL: egress-disabled/tls-termination-disabled
        run: |
          aws s3 cp ./target/${{ env.LINUX_TARGET }}/release/data-plane s3://cage-build-assets-${{ env.STAGE }}/runtime/${{ env.VERSION_TAG }}/data-plane/${{ env.FEATURE_LABEL }}
          aws s3 cp ./target/${{ env.LINUX_TARGET }}/release/data-plane s3://cage-build-assets-${{ env.STAGE }}/runtime/latest/data-plane/${{ env.FEATURE_LABEL }}

      # Egress Disabled, TLS Termination Enabled
      - name: Build data-plane (egress disabled, tls termination enabled)
        uses: evervault/cargo-static-build@master
        with:
          cmd: cargo build -p data-plane --features enclave --release --target ${{ env.LINUX_TARGET }}

      - name: Upload data-plane to S3 (egress disabled, tls termination enabled)
        env:
          VERSION_TAG: ${{ github.sha }}
          FEATURE_LABEL: egress-disabled/tls-termination-enabled
        run: |
          aws s3 cp ./target/${{ env.LINUX_TARGET }}/release/data-plane s3://cage-build-assets-${{ env.STAGE }}/runtime/${{ env.VERSION_TAG }}/data-plane/${{ env.FEATURE_LABEL }}
          aws s3 cp ./target/${{ env.LINUX_TARGET }}/release/data-plane s3://cage-build-assets-${{ env.STAGE }}/runtime/latest/data-plane/${{ env.FEATURE_LABEL }}

      - name: Upload version tag to latest file
        env:
          VERSION_TAG: ${{ github.sha }}
        run: |
          echo "{ \"data-plane\": \"${{ env.VERSION_TAG }}\" }" > latest.txt
          aws s3 cp ./latest.txt s3://cage-build-assets-${{ env.STAGE }}/runtime/latest

      - name: Cloudfront Cache Invalidation
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ secrets.AWS_CLOUDFRONT_DISTRIBUTION_STAGING }} --paths "/runtime/latest/data-plane/*" "/runtime/latest"
