on:
  pull_request:
    branches:
      - main
    paths:
      - installer/**
      - .github/workflows/test-runtime-builder.yml
      - Cargo.lock
name: Build runtime installer
jobs:
  run-build-on-runtime-installer:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build bundle using local action
        uses: ./installer
      - name: Upload bundle as artifact
        uses: actions/upload-artifact@v3
        with:
          name: runtime-dependencies-${{github.sha}}.zip
          path: ./output/runtime-dependencies.tar.gz
  test-installer-on-multiple-runtimes:
    needs: run-build-on-runtime-installer
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dockerfile: [test-abyss.Dockerfile, test-alpine.Dockerfile, test.Dockerfile]
    steps:
      - uses: actions/checkout@v3
      - name: Download bundle artifact
        uses: actions/download-artifact@v2
        with:
          name: runtime-dependencies-${{github.sha}}.zip
          path: ./installer/output
      - name: Build image
        run: |
          cd ./installer
          docker build --platform linux/amd64 -t runtime-dependencies-test -f ${{matrix.dockerfile}} .