on:
  push:
    paths:
      - e2e-tests/**
      - data-plane/**
      - control-plane/**
      - .github/workflows/test-e2e.yml
      - Cargo.lock
name: Run end-to-end tests
jobs:
  run_e2e_tests_full_features:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: Swatinem/rust-cache@v2
      - name: Install MUSL Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y musl-tools
      - uses: dtolnay/rust-toolchain@1.79.0
        with:
          targets: x86_64-unknown-linux-musl
      - name: Build Cages Project
        run: cargo build --features network_egress --release --workspace --exclude vsock-proxy
      - name: Build mock crypto API
        run: cd e2e-tests/mock-crypto ; cargo build --release
        env:
          CARGO_REGISTRIES_EVERVAULT_RUST_LIBRARIES_INDEX: ${{ secrets.RUST_CRYPTO_REGISTRY }}
      - uses: actions-hub/docker/cli@f5fdbfc3f9d2a9265ead8962c1314108a7b7ec5d
        env:
          SKIP_LOGIN: true
      - uses: actions/setup-node@v1
        with:
          node-version: "16.x"
      - name: Run end-to-end test script
        env:
          CI: true
          EV_API_KEY: ${{ secrets.EV_API_KEY }}
        run: |
          sh e2e-tests/generate-sample-ca.sh
          sh e2e-tests/run-all-feature-tests.sh
  run_e2e_tests_no_tls_termination:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install MUSL Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y musl-tools
      - uses: Swatinem/rust-cache@v2
      - uses: dtolnay/rust-toolchain@1.79.0
        with:
          targets: x86_64-unknown-linux-musl
      - name: Build Cages Project
        run: cargo build --release --features not_enclave --no-default-features --workspace --exclude vsock-proxy
      - name: Build mock crypto API
        run: cd e2e-tests/mock-crypto ; cargo build --release --target x86_64-unknown-linux-musl
        env:
          CARGO_REGISTRIES_EVERVAULT_RUST_LIBRARIES_INDEX: ${{ secrets.RUST_CRYPTO_REGISTRY }}
      - uses: actions-hub/docker/cli@f5fdbfc3f9d2a9265ead8962c1314108a7b7ec5d
        env:
          SKIP_LOGIN: true
      - uses: actions/setup-node@v1
        with:
          node-version: "16.x"
      - name: Run end-to-end test script
        env:
          CI: true
          EV_API_KEY: ${{ secrets.EV_API_KEY }}
        run: |
          sh e2e-tests/generate-sample-ca.sh
          sh e2e-tests/run-tls-disabled-tests.sh
