on:
  push:
    paths:
      - control-plane/**
      - shared/**
      - .github/workflows/test-control-plane.yml
      - Cargo.lock
name: Test Control Plane
jobs:
  test_control_plane:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@1.79.0
        targets: x86_64-unknown-linux-musl
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "standard-cache"
      - name: Compile project feature -enclave
        run: cargo build --features enclave,network_egress -p control-plane 
      - name: Compile project feature -not_enclave
        run: cargo build --features not_enclave,network_egress -p control-plane 
      - name: Test project
        run: cargo test --features enclave,network_egress -p control-plane
