on:
  release:
    types: [published]
  push:
    paths:
      - crates/vsock-proxy/**
      - shared/**
      - .github/workflows/vsock-proxy.yml
      - Cargo.lock
name: vsock-proxy
jobs:
  check-proxy:
    runs-on: ubuntu-latest
    if: ${{ contains(github.event.release.tag_name, 'vsock-proxy') || github.event_name == 'push' }}
    steps:
      - uses: actions/checkout@v4
      - name: Install MUSL Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y musl-tools
      - uses: dtolnay/rust-toolchain@1.79.0
        with:
          targets: x86_64-unknown-linux-musl
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "vsock-proxy"
      - name: Check project
        run: cargo check -p vsock-proxy
      - name: Clippy lint 
        run: cargo clippy -p vsock-proxy
      - name: Check formatting
        run: cargo fmt -p vsock-proxy --check

  test-proxy:
    runs-on: ubuntu-latest
    needs: [check-proxy]
    if: ${{ contains(github.event.release.tag_name, 'vsock-proxy') || github.event_name == 'push' }}
    steps:
      - uses: actions/checkout@v4
      - name: Install MUSL Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y musl-tools
      - uses: dtolnay/rust-toolchain@1.79.0
        with:
          targets: x86_64-unknown-linux-musl
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "vsock-proxy"
      - name: Test vsock proxy
        run: cargo test -p vsock-proxy

  build-proxy:
    runs-on: ubuntu-latest
    needs: [check-proxy,test-proxy]
    if: ${{ github.event_name == 'push' }}
    steps:
      - uses: actions/checkout@v4
      - name: Install MUSL Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y musl-tools
      - uses: dtolnay/rust-toolchain@1.79.0
        with:
          targets: x86_64-unknown-linux-musl
      - name: Compile proxy
        run: cargo build -p vsock-proxy --release
      - name: Upload proxy
        uses: actions/upload-artifact@v2
        with:
          name: vsock-proxy
          path: target/release/vsock-proxy

  release-proxy:
    runs-on: ubuntu-latest
    needs: [check-proxy,test-proxy]
    if: ${{ contains(github.event.release.tag_name, 'vsock-proxy') }}
    steps:
      - uses: actions/checkout@v4
      - name: Install MUSL Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y musl-tools
      - uses: dtolnay/rust-toolchain@1.79.0
        with:
          targets: x86_64-unknown-linux-musl
      - name: Publish vsock-proxy
        run: cargo publish -p vsock-proxy
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CRATES_IO_TOKEN }}
